<div class="countriesContainer">
    <p class="countryTitle"> Country</p>
    <img class="flags" src = "{{flags.png}}">
    
<label class="officialName"> Official Name</label>
<h1 class="countryInfo">{{name.common}}</h1>
<label class="labels">Timezone</label>
<h2 class="countryInfo">{{name.official}}</h2>
<label class="labels"> Region</label>
<h3 class="countryInfo">{{timezones.[0]}}</h3>
<label class="labels">Capital</label>
<h4 class="countryInfo">{{region}}</h4>
<h4 class="countryInfo">{{capital.[0]}}</h4>
<form action = "/favorite/{{name.common}}" method = "post">
<button>favorite</button>
</form>
</div>