<span> Country</span>
<h1>{{name.common}}</h1>
<label> Official Name</label>
<h2>{{name.official}}</h2>
<label>Timezone</label>
<h3>{{timezones.[0]}}</h3>
<label> Region</label>
<h4>{{region}}</h4>
<label>Capital</label>
<h4>{{capital.[0]}}</h4>
<img src = "{{flags.png}}">